n8n-workflows/wfg-recruit-creation-handler-v2.json
{
  "name": "WFG - Recruit Creation Handler v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wfg-recruit-created",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "31012b6e-2cc1-44a2-991f-bdff841e3c17",
      "name": "Webhook: Recruit Created",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [2752, 1152],
      "webhookId": "wfg-recruit-created"
    },
    {
      "parameters": {
        "functionCode": "// =============================================\n// Prepare recruit data and generate access token\n// =============================================\nconst data = $input.first().json;\n\n// Split full_name into firstName / lastName for GHL contacts API\nconst nameParts = (data.full_name || '').trim().split(/\\s+/);\nconst firstName = nameParts[0] || '';\nconst lastName = nameParts.slice(1).join(' ') || '';\n\n// Generate a unique 32-character access token\nconst chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\nlet token = '';\nfor (let i = 0; i < 32; i++) {\n  token += chars[Math.floor(Math.random() * chars.length)];\n}\n\nreturn [{\n  json: {\n    ...data,\n    firstName,\n    lastName,\n    token\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000001",
      "name": "Prepare Data & Generate Token",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2944, 1152]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.gohighlevel.com/v1/contacts/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "highLevelApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"firstName\": \"{{ $json.firstName }}\",\n  \"lastName\": \"{{ $json.lastName }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"tags\": [\"wfg-recruit\"],\n  \"customField\": {\n    \"onboarding_token\": \"{{ $json.token }}\",\n    \"country\": \"{{ $json.country }}\",\n    \"state_province\": \"{{ $json.state_province }}\",\n    \"start_date\": \"{{ $json.start_date }}\",\n    \"recruiter_name\": \"{{ $json.recruiter_name }}\",\n    \"upline_office\": \"{{ $json.upline_office }}\"\n  }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-2222-4aaa-bbbb-000000000002",
      "name": "Create Contact in GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3136, 1152],
      "credentials": {
        "highLevelApi": {
          "id": "5HNWFt9sVTlmfFXH",
          "name": "HighLevel account"
        }
      },
      "notes": "IMPORTANT: The customField keys (onboarding_token, country, etc.) must match the custom field IDs configured in your GHL account. Go to Settings > Custom Fields in GHL to find or create these fields, then replace the keys here with the actual field IDs."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook: Recruit Created').first().json.country }}",
              "operation": "equals",
              "value2": "United States"
            }
          ]
        }
      },
      "id": "d84eb32b-af25-4b83-98b2-6a613645b823",
      "name": "IF Country = US",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3328, 1152]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "licensing_step_count",
              "value": 12
            }
          ],
          "string": [
            {
              "name": "country_code",
              "value": "US"
            }
          ]
        },
        "options": {}
      },
      "id": "21c4e337-3dc7-472b-a9b7-d3fc43ea4660",
      "name": "Set US Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [3536, 1040]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "licensing_step_count",
              "value": 13
            }
          ],
          "string": [
            {
              "name": "country_code",
              "value": "CA"
            }
          ]
        },
        "options": {}
      },
      "id": "8a94cea6-a553-4ffa-a50a-3844ece68311",
      "name": "Set Canada Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [3536, 1248]
    },
    {
      "parameters": {
        "functionCode": "// =============================================\n// Get recruit data from upstream nodes\n// =============================================\nconst webhookData = $('Webhook: Recruit Created').first().json;\nconst contactId = $('Create Contact in GHL').first().json.contact.id;\nconst countryCode = items[0].json.country_code;\nconst startDate = new Date(webhookData.start_date);\n\n// ============================================\n// US LICENSING STEPS (12 steps)\n// Source: WFG Onboarding Process Validation PDF\n// ============================================\nconst usSteps = [\n  {\n    id: 'l1',\n    title: 'Sign Your Membership Agreement',\n    days: 1,\n    description: 'Do the Associate Membership Agreement.',\n    instructions: [\n      'Go to www.wfglaunch.com',\n      'Type in your personal information accurately',\n      'Review and sign the Associate Membership Agreement',\n      'Ensure all details match your government-issued ID'\n    ],\n    resources: 'Your trainer and your ID — www.wfglaunch.com',\n    timeline: '5 mins'\n  },\n  {\n    id: 'l2',\n    title: 'Pay Your Membership Fees',\n    days: 1,\n    description: 'Pay for your Associate Membership Agreement.',\n    instructions: [\n      'Use your credit card to pay the membership fee',\n      'Keep your payment confirmation for your records',\n      'Notify your trainer once payment is complete'\n    ],\n    resources: 'Your trainer and your credit card',\n    timeline: '1 min'\n  },\n  {\n    id: 'l3',\n    title: 'Register for Your Online Course',\n    days: 5,\n    description: 'Sign up for the Life & Health pre-licensing course.',\n    instructions: [\n      'Go to your WFG Launch webpage (wfglaunch.com)',\n      'Go to the Licensing section',\n      'Pick your licensing provider',\n      'Sign up and pay for the course',\n      'Save your login credentials'\n    ],\n    resources: 'Your trainer and your credit card — wfglaunch.com',\n    timeline: '5 mins'\n  },\n  {\n    id: 'l4',\n    title: 'Complete Your Pre-Licensing Course',\n    days: 10,\n    description: 'Study and pass the pre-licensing course.',\n    instructions: [\n      'Study and learn the material thoroughly',\n      'Complete all course modules and reading materials',\n      'Review practice exams to prepare',\n      'Pass the course with the required score',\n      'Download your course completion certificate'\n    ],\n    resources: 'The training course material',\n    timeline: '7 days'\n  },\n  {\n    id: 'l5',\n    title: 'Book Your State Exam',\n    days: 11,\n    description: 'Book a time to write the exam.',\n    instructions: [\n      'First, create an account at pearsonvue.com/tx/insurance',\n      'Fill in your information and submit',\n      'Register for a test before scheduling the examination',\n      'On the right side, click Create an Account',\n      'Pick exam: General Lines Life, Accident & Health: INS-TX-LAH05',\n      'Select your preferred date and testing location'\n    ],\n    resources: 'Your ID and credit card — pearsonvue.com/tx/insurance',\n    timeline: '10 mins'\n  },\n  {\n    id: 'l6',\n    title: 'Complete Your State Exam',\n    days: 26,\n    description: 'Write your state exam.',\n    instructions: [\n      'Go to the test centre on your scheduled date',\n      'Bring your valid government-issued photo ID',\n      'Arrive early to check in and get settled',\n      'Complete all exam sections within the time limit',\n      'Review your preliminary results'\n    ],\n    resources: 'Your government-issued photo ID',\n    timeline: 'Exam 2HRS: 150 Questions, Min. Score: 70%'\n  },\n  {\n    id: 'l7',\n    title: 'Complete Your Fingerprints',\n    days: 31,\n    description: 'Do your state fingerprint check.',\n    instructions: [\n      'Go to a fingerprint centre near you',\n      'Visit https://www.identogo.com/locations/texas to find a location',\n      'Bring your valid government-issued photo ID',\n      'Have your fingerprints taken'\n    ],\n    resources: 'https://www.identogo.com/locations/texas',\n    timeline: '10 mins'\n  },\n  {\n    id: 'l8',\n    title: 'Create Account With Sircon',\n    days: 32,\n    description: 'Create account with Sircon to apply for license.',\n    instructions: [\n      'Visit sircon.com',\n      'Create a new username and password',\n      'Complete your professional profile',\n      'Save your login credentials securely'\n    ],\n    resources: 'sircon.com',\n    timeline: '10 mins'\n  },\n  {\n    id: 'l9',\n    title: 'Apply For Your State License',\n    days: 33,\n    description: 'Apply to get your state license.',\n    instructions: [\n      'Go to Sircon.com',\n      'Click New Insurance → Resident → Individual',\n      'Enter your email, last name, and SSN',\n      'Select preparer then click applicant',\n      'Select Texas → payment method',\n      'License type → Insurance Producer → Life, Accident & Health',\n      'Continue to answer the questions and pay the application fee'\n    ],\n    resources: 'sircon.com',\n    timeline: '30 mins'\n  },\n  {\n    id: 'l10',\n    title: 'Sign Your WFG Agent Agreement',\n    days: 36,\n    description: 'Sign the official WFG Agent Agreement.',\n    instructions: [\n      'Go to wfglaunch.com',\n      'Click LICENSING (BLUE COLUMN)',\n      'View process → Start licensing process → View WFG Agreement',\n      'Start Application process → OK',\n      'Enter your state life license number → Verify',\n      'Complete Docusign and pay fee ($40)',\n      'Wait for SMD approval and background check'\n    ],\n    resources: 'Your trainer — wfglaunch.com',\n    timeline: '10 mins'\n  },\n  {\n    id: 'l11',\n    title: 'Complete AML and LTC Tests',\n    days: 41,\n    description: 'Do the AML and LTC tests.',\n    instructions: [\n      'Go to mywfg.com',\n      'Click Menu → Licensing & Appointments → Licensing',\n      'Go to Continuing Education',\n      'Pick your provider',\n      'Complete the Anti-Money Laundering course and exam',\n      'Complete the Long Term Care course and exam'\n    ],\n    resources: 'mywfg.com',\n    timeline: '10 hours'\n  },\n  {\n    id: 'l12',\n    title: 'Get Appointed By Carriers',\n    days: 45,\n    description: 'Be appointed by carriers to sell their products.',\n    instructions: [\n      'Log into www.mywfg.com',\n      'Click on Menu → Licensing & Appointments → Appointments',\n      'Go to Carrier Appointments → Life & Disability',\n      'Select Non-NY Life',\n      'Select the specific carrier you want to be appointed with',\n      'Complete the appointment process for each carrier'\n    ],\n    resources: 'www.mywfg.com',\n    timeline: '20 mins'\n  }\n];\n\n// ============================================\n// CANADA LICENSING STEPS (13 steps)\n// Source: WFG Onboarding Process Validation PDF\n// Note: Canada has unique steps — NOT filtered from US\n// ============================================\nconst canadaSteps = [\n  {\n    id: 'l1',\n    title: 'Sign Your Membership Agreement',\n    days: 1,\n    description: 'Do the Associate Membership Agreement.',\n    instructions: [\n      'Go to www.wfglaunch.com',\n      'Type in your personal information accurately',\n      'Review and sign the Associate Membership Agreement',\n      'Ensure all details match your government-issued ID'\n    ],\n    resources: 'Your trainer and your ID — www.wfglaunch.com',\n    timeline: '5 mins'\n  },\n  {\n    id: 'l2',\n    title: 'Pay Your Membership Fees',\n    days: 1,\n    description: 'Pay for your Associate Membership Agreement.',\n    instructions: [\n      'Use your credit card to pay the membership fee',\n      'Keep your payment confirmation for your records',\n      'Notify your trainer once payment is complete'\n    ],\n    resources: 'Your trainer and your credit card',\n    timeline: '1 min'\n  },\n  {\n    id: 'l3',\n    title: 'Register for Your Online Course',\n    days: 5,\n    description: 'Register for the HLLQP course through Olivers.',\n    instructions: [\n      'Go to WFGLaunch.com — create a profile if you have not already',\n      'Your agent code will be in the email you received when you joined — ask your trainer if you cannot find it',\n      'On the left-hand tab, click Olivers (this is the course provider)',\n      'Create an account with Olivers',\n      'After signing in, click the top-right red button to do an identity check',\n      'You can use your computer camera for the photo — make sure the name matches your ID exactly'\n    ],\n    resources: 'wfglaunch.com — Olivers course provider',\n    timeline: '20 mins'\n  },\n  {\n    id: 'l4',\n    title: 'Complete Your HLLQP Course',\n    days: 19,\n    description: 'Study and pass the HLLQP pre-licensing course.',\n    instructions: [\n      'Exams for the modules are all open book — 20 or 30 questions, multiple choice, 60% to pass',\n      'You have 3 chances to pass each module — if you fail three times on any module, you must restart the entire course from the beginning (and pay again)',\n      'Study the material using reading, videos, and/or flashcards',\n      'The mock exams are a huge help — go through them a few times to get a feel for the questions',\n      'Get familiar with the layout of each section so you can quickly reference material during the open-book exam'\n    ],\n    resources: 'The training course material — Olivers platform',\n    timeline: '14 days'\n  },\n  {\n    id: 'l5',\n    title: 'Create a Provincial Licensing Account',\n    days: 21,\n    description: 'Create account with Insurance Council of BC to apply for license.',\n    instructions: [\n      'Sign up for an account at insurancecouncilofbc.com',\n      'You must provide a service address and a mailing address',\n      'Service address: use the Burnaby office — 3665 Kingsway, Vancouver BC, V5R 5W2',\n      'Mailing address: use your home address'\n    ],\n    resources: 'insurancecouncilofbc.com',\n    timeline: '10 mins'\n  },\n  {\n    id: 'l6',\n    title: 'Book Your Provincial Exam',\n    days: 23,\n    description: 'Book a time to write your provincial exams.',\n    instructions: [\n      'Log into your ICBC online portal account',\n      'Select \"Register/Manage my LLQP exams\"',\n      'Follow the steps to enter your exam registrant information and upload a copy of your government-issued photo ID',\n      'Wait up to 3 business days for the Exams team to review and approve your registration',\n      'Once you receive the verification email, log back in to schedule and pay for your exams',\n      'If you have not heard back within 3 business days, contact the Exams Team at 604-695-2006 or examinations@insurancecouncilofbc.com'\n    ],\n    resources: 'insurancecouncilofbc.com',\n    timeline: '10 mins (plus up to 3 business days for approval)'\n  },\n  {\n    id: 'l7',\n    title: 'Complete Your Provincial Exam',\n    days: 28,\n    description: 'Write your provincial exams.',\n    instructions: [\n      'Go to the exam location on your scheduled date',\n      'Bring your valid government-issued photo ID',\n      'Write the exams',\n      'Refer to your email confirmation for location and time details'\n    ],\n    resources: 'Refer to email confirmation',\n    timeline: '1 day'\n  },\n  {\n    id: 'l8',\n    title: 'Complete Your Background Check',\n    days: 30,\n    description: 'Complete your background check through Triton Canada.',\n    instructions: [\n      'Go to https://secure.tritoncanada.ca/v/public/landing/InsuranceCouncilofBritishColumbi/home',\n      'Complete the background check application',\n      'Provide all required personal information accurately',\n      'Pay any associated fees',\n      'Save your confirmation for your records'\n    ],\n    resources: 'https://secure.tritoncanada.ca/v/public/landing/InsuranceCouncilofBritishColumbi/home',\n    timeline: '30 mins'\n  },\n  {\n    id: 'l9',\n    title: 'Sign Your WFG Agent Agreement',\n    days: 32,\n    description: 'Sign the WFG Agent Agreement to transition from wfglaunch to mywfg.',\n    instructions: [\n      'Go to wfglaunch.com',\n      'Click LICENSING (BLUE COLUMN)',\n      'View process → Start licensing process → View WFG Agreement',\n      'Start Application process → OK',\n      'Enter your provincial life license number → Verify',\n      'Complete Docusign and pay fee ($40)',\n      'Wait for SMD approval and background check'\n    ],\n    resources: 'Your trainer — wfglaunch.com',\n    timeline: '10 mins'\n  },\n  {\n    id: 'l10',\n    title: 'IVARI E-CONTRACTING',\n    days: 35,\n    description: 'Complete the Ivari e-contracting application process.',\n    instructions: [\n      'Sign into MyWFG.com → MENU → LICENSING & APPOINTMENTS → LICENSING → IVARI ECONTRACTING',\n      'Prepare your exam marks (find the emails you received when you passed your provincials — screenshot or convert to PDF)',\n      'Prepare your Criminal Record Check from Triton Canada',\n      'Use your local Branch Address (Burnaby/Kingsway office: 3665 Kingsway, Vancouver BC, V5R 5W2)',\n      'Start the Docusign application — ask your trainer for your Marketing Director name, code, and email',\n      'Fill out OBA (Outside Business Activities) honestly — include all employment and self-employment activity',\n      'Questions 36-41 Regulatory Compliance: answer yes, no, yes, yes, yes, yes',\n      'Question 42: Province → British Columbia, Type → Accident and Sickness, Applying for → New Licence',\n      'Wait for Ivari approval email — if approved, save your acceptance letter and E&O insurance copy; let your trainer know either way'\n    ],\n    resources: 'mywfg.com — Triton Canada background check — Your trainer for Marketing Director details',\n    timeline: '45 mins (plus processing time for approval)'\n  },\n  {\n    id: 'l11',\n    title: 'Apply For Your Provincial License',\n    days: 40,\n    description: 'Apply to get your provincial license.',\n    instructions: [\n      'Log in to your ICBC Portal',\n      'Go to Main Menu → LICENSES → Apply for a Personal License',\n      'Select Personal License Application — A&S',\n      'Ask your trainer for the required Supervisory Form',\n      'Complete the application and submit',\n      'Once license is APPROVED, email a copy of the certificate to WFGApprovedLicense@ivari.ca AND wfgcanadalicensing@transamerica.com',\n      'Include your AGENT CODE in the subject line and CC your trainer/SMD'\n    ],\n    resources: 'insurancecouncilofbc.com',\n    timeline: '45 mins'\n  },\n  {\n    id: 'l12',\n    title: 'Complete Your Anti-Money Laundering Exam & Ethics',\n    days: 42,\n    description: 'Complete the Anti-Money Laundering and Canadian Ethics exams.',\n    instructions: [\n      'Go to your Olivers account under My Courses',\n      'Complete the Anti-Money Laundering course and exam',\n      'Complete the Canadian Ethics course and exam',\n      'There is no charge for these courses but they must be done before you can apply for your personal license',\n      'After passing, download a copy of the Certificate of Completion for both — you will need these later'\n    ],\n    resources: 'wfglaunch.com — Olivers platform',\n    timeline: '2 hours'\n  },\n  {\n    id: 'l13',\n    title: 'Get Appointed By Carriers',\n    days: 45,\n    description: 'Be able to sell different products by different carriers.',\n    instructions: [\n      'For IA: Go to https://iaa.secureweb.inalco.com/mkmwpvp5 and click \"Need a secure access\" to register',\n      'For Ivari: Go to www.ivari.ca and register with your wfgmail email — Branch Code: 9915',\n      'Complete the appointment process for each carrier',\n      'Notify your trainer once appointments are confirmed'\n    ],\n    resources: 'https://iaa.secureweb.inalco.com/mkmwpvp5 — www.ivari.ca (Branch Code: 9915)',\n    timeline: '30 mins'\n  }\n];\n\n// Select steps based on country\nconst stepsToUse = countryCode === 'US' ? usSteps : canadaSteps;\n\nconst licensingSteps = stepsToUse.map((step, index) => {\n  const deadline = new Date(startDate);\n  deadline.setDate(deadline.getDate() + step.days);\n  \n  return {\n    recruit_id: contactId,\n    step_id: step.id,\n    step_number: index + 1,\n    step_title: step.title,\n    step_description: step.description,\n    instructions: JSON.stringify(step.instructions),\n    resources: step.resources,\n    timeline_guidance: step.timeline,\n    deadline_date: deadline.toISOString().split('T')[0],\n    days_from_start: step.days,\n    is_completed: false,\n    status: 'On Track'\n  };\n});\n\nreturn licensingSteps.map(step => ({ json: step }));"
      },
      "id": "9e4cafda-fad3-4288-a174-f163fed26b81",
      "name": "Generate Licensing Steps",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [3744, 1152]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.gohighlevel.com/v1/custom-objects/Licensing_Step",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "highLevelApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "recruit_id", "value": "={{$json.recruit_id}}" },
            { "name": "step_id", "value": "={{$json.step_id}}" },
            { "name": "step_number", "value": "={{$json.step_number}}" },
            { "name": "step_title", "value": "={{$json.step_title}}" },
            { "name": "step_description", "value": "={{$json.step_description}}" },
            { "name": "instructions", "value": "={{$json.instructions}}" },
            { "name": "resources", "value": "={{$json.resources}}" },
            { "name": "timeline_guidance", "value": "={{$json.timeline_guidance}}" },
            { "name": "deadline_date", "value": "={{$json.deadline_date}}" },
            { "name": "days_from_start", "value": "={{$json.days_from_start}}" },
            { "name": "is_completed", "value": "={{$json.is_completed}}" },
            { "name": "status", "value": "={{$json.status}}" }
          ]
        },
        "options": {}
      },
      "id": "55bdcc43-882c-4d8f-ad84-b78c20a6296b",
      "name": "Create Licensing Steps in GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3936, 1152],
      "credentials": {
        "highLevelApi": {
          "id": "5HNWFt9sVTlmfFXH",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// =============================================\n// Get recruit data from upstream nodes\n// =============================================\nconst webhookData = $('Webhook: Recruit Created').first().json;\nconst contactId = $('Create Contact in GHL').first().json.contact.id;\nconst startDate = new Date(webhookData.start_date);\n\n// ============================================\n// TRAINING STEPS (8 steps - same for US and Canada)\n// Source: WFG Onboarding Process Validation PDF\n// Note: Training descriptions are placeholders in the PDF\n//       pending official content from Jorge and Liz.\n//       Titles confirmed accurate from Miro board.\n// ============================================\nconst trainingSteps = [\n  {\n    id: 't1',\n    title: 'Meet Spouse/Influential Person',\n    days: 1,\n    description: 'Meet the spouse or influential person in the recruit\\'s life.',\n    instructions: [\n      'Schedule a 60-90 minute meeting with your assigned trainer',\n      'Prepare questions about the business opportunity',\n      'Discuss your personal financial goals',\n      'Set clear 30/60/90 day objectives'\n    ],\n    resources: 'Your trainer — meeting agenda template available from your upline',\n    timeline: '24\\u201348 hours'\n  },\n  {\n    id: 't2',\n    title: 'Get Your Startup Kit',\n    days: 3,\n    description: 'Receive and review all materials in your new agent startup package.',\n    instructions: [\n      'Obtain your physical or digital startup kit from your trainer',\n      'Review all included training materials',\n      'Set up your business cards and marketing materials',\n      'Organize your client presentation tools'\n    ],\n    resources: 'Startup kit contents checklist in your trainer guidebook',\n    timeline: '1 day'\n  },\n  {\n    id: 't3',\n    title: 'Start Your Licensing Path',\n    days: 15,\n    description: 'Begin working through the Licensing pathway steps concurrently.',\n    instructions: [\n      'Switch to the Licensing tab in the onboarding planner',\n      'Begin with Step 1: Sign Your Membership Agreement',\n      'Work through licensing steps while continuing training',\n      'Keep your trainer updated on licensing progress'\n    ],\n    resources: 'See Licensing pathway in the onboarding planner for detailed steps',\n    timeline: '30 days'\n  },\n  {\n    id: 't4',\n    title: 'Complete Your PFS',\n    days: 21,\n    description: 'Finish your Personal Financial Strategy session and documentation.',\n    instructions: [\n      'Schedule your PFS session with your trainer',\n      'Gather your personal financial documents',\n      'Complete the full PFS analysis process',\n      'Review your own financial plan and protection gaps'\n    ],\n    resources: 'PFS workbook and forms in your startup kit',\n    timeline: '24\\u201348 hours'\n  },\n  {\n    id: 't5',\n    title: 'Attend All Workshops and BPM',\n    days: 31,\n    description: 'Participate in all required workshops and Business Presentation Meetings.',\n    instructions: [\n      'Get the workshop and BPM schedule from your trainer',\n      'Attend all Saturday training workshops',\n      'Attend weekly BPM meetings consistently',\n      'Take notes and participate actively in all sessions'\n    ],\n    resources: 'Workshop calendar available in team communications',\n    timeline: 'Ongoing — attend all scheduled events for first 90 days'\n  },\n  {\n    id: 't6',\n    title: 'Complete Trainer Guidebook & Share List',\n    days: 36,\n    description: 'Study the trainer guidebook and build your initial prospect list.',\n    instructions: [\n      'Read the entire trainer guidebook cover to cover',\n      'Complete all exercises in the guidebook',\n      'Build your share list of at least 100 names',\n      'Categorize contacts by relationship and priority'\n    ],\n    resources: 'Share list template in your startup kit',\n    timeline: '30 days'\n  },\n  {\n    id: 't7',\n    title: 'Complete Your Field Training',\n    days: 45,\n    description: 'Shadow experienced agents and complete hands-on client appointments.',\n    instructions: [\n      'Schedule field training sessions with your trainer',\n      'Observe at least 5 client appointments',\n      'Conduct 3 supervised appointments yourself',\n      'Debrief with your trainer after each session'\n    ],\n    resources: 'Field training log sheet from your trainer',\n    timeline: '30 days'\n  },\n  {\n    id: 't8',\n    title: 'Complete Your GX 315',\n    days: 60,\n    description: 'Finish the GX 315 advanced training certification program.',\n    instructions: [\n      'Register for the GX 315 program through WFG University',\n      'Complete all online modules and assessments',\n      'Attend any required live training sessions',\n      'Pass the final certification exam'\n    ],\n    resources: 'GX 315 access through WFG University portal',\n    timeline: '30 days'\n  }\n];\n\nconst formattedSteps = trainingSteps.map((step, index) => {\n  const deadline = new Date(startDate);\n  deadline.setDate(deadline.getDate() + step.days);\n  \n  return {\n    recruit_id: contactId,\n    step_id: step.id,\n    step_number: index + 1,\n    step_title: step.title,\n    step_description: step.description,\n    instructions: JSON.stringify(step.instructions),\n    resources: step.resources,\n    timeline_guidance: step.timeline,\n    deadline_date: deadline.toISOString().split('T')[0],\n    days_from_start: step.days,\n    is_completed: false,\n    status: 'On Track'\n  };\n});\n\nreturn formattedSteps.map(step => ({ json: step }));"
      },
      "id": "fd114074-a425-419e-8a9e-f1608d647ec0",
      "name": "Generate Training Steps",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [4128, 1152]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.gohighlevel.com/v1/custom-objects/Training_Step",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "highLevelApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "recruit_id", "value": "={{$json.recruit_id}}" },
            { "name": "step_id", "value": "={{$json.step_id}}" },
            { "name": "step_number", "value": "={{$json.step_number}}" },
            { "name": "step_title", "value": "={{$json.step_title}}" },
            { "name": "step_description", "value": "={{$json.step_description}}" },
            { "name": "instructions", "value": "={{$json.instructions}}" },
            { "name": "resources", "value": "={{$json.resources}}" },
            { "name": "timeline_guidance", "value": "={{$json.timeline_guidance}}" },
            { "name": "deadline_date", "value": "={{$json.deadline_date}}" },
            { "name": "days_from_start", "value": "={{$json.days_from_start}}" },
            { "name": "is_completed", "value": "={{$json.is_completed}}" },
            { "name": "status", "value": "={{$json.status}}" }
          ]
        },
        "options": {}
      },
      "id": "7a1272a3-7596-447f-9a5a-2472c2b28119",
      "name": "Create Training Steps in GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [4320, 1152],
      "credentials": {
        "highLevelApi": {
          "id": "5HNWFt9sVTlmfFXH",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://rest.gohighlevel.com/v1/contacts/{{ $('Create Contact in GHL').first().json.contact.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "highLevelApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\"wfg-recruit\", \"active-onboarding\"],\n  \"customField\": {\n    \"recruit_stage\": \"Active Onboarding\",\n    \"licensing_status\": \"Not Started\",\n    \"training_status\": \"Not Started\",\n    \"timeline_health\": \"On Track\"\n  }\n}",
        "options": {}
      },
      "id": "e16a7e30-af2d-42c2-a4db-3e25b96d5813",
      "name": "Update Recruit to Active Onboarding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [4512, 1152],
      "credentials": {
        "highLevelApi": {
          "id": "5HNWFt9sVTlmfFXH",
          "name": "HighLevel account"
        }
      },
      "notes": "IMPORTANT: The customField keys (recruit_stage, licensing_status, etc.) must match the custom field IDs in your GHL account. Replace the keys with your actual GHL custom field IDs."
    },
    {
      "parameters": {
        "fromEmail": "noreply@wfg.com",
        "toEmail": "={{ $('Webhook: Recruit Created').first().json.email }}",
        "subject": "Welcome to WFG - Your Onboarding Journey Begins!",
        "text": "=Hi {{ $('Webhook: Recruit Created').first().json.full_name }},\n\nWelcome to World Financial Group! Your onboarding tracker is ready.\n\nAccess your personalized onboarding plan here:\nhttps://your-app-domain.com/?token={{ $('Prepare Data & Generate Token').first().json.token }}\n\nThis link is unique to you — bookmark it so you can check back anytime.\n\nYour recruiter {{ $('Webhook: Recruit Created').first().json.recruiter_name }} will be guiding you through the process.\n\nLet's get started!\n\n— WFG Onboarding Team",
        "options": {}
      },
      "id": "0c2067c5-a5f2-48b3-a27c-b6b1a114ffe5",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [4704, 1152],
      "notes": "IMPORTANT: (1) Replace 'your-app-domain.com' with your actual deployed app URL. (2) Configure SMTP credentials for this node, or swap this for a GHL email/SendGrid node."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Recruit onboarding initialized successfully\",\n  \"recruit_id\": \"{{ $('Create Contact in GHL').first().json.contact.id }}\",\n  \"token\": \"{{ $('Prepare Data & Generate Token').first().json.token }}\",\n  \"licensing_steps_created\": {{ $('Generate Licensing Steps').all().length }},\n  \"training_steps_created\": {{ $('Generate Training Steps').all().length }}\n}",
        "options": {}
      },
      "id": "f634c2dc-32c0-4cf1-b465-8ac7c0459a4c",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [4896, 1152]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Recruit Created": {
      "main": [
        [
          {
            "node": "Prepare Data & Generate Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data & Generate Token": {
      "main": [
        [
          {
            "node": "Create Contact in GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact in GHL": {
      "main": [
        [
          {
            "node": "IF Country = US",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Country = US": {
      "main": [
        [
          {
            "node": "Set US Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Canada Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set US Config": {
      "main": [
        [
          {
            "node": "Generate Licensing Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Canada Config": {
      "main": [
        [
          {
            "node": "Generate Licensing Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Licensing Steps": {
      "main": [
        [
          {
            "node": "Create Licensing Steps in GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Licensing Steps in GHL": {
      "main": [
        [
          {
            "node": "Generate Training Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Training Steps": {
      "main": [
        [
          {
            "node": "Create Training Steps in GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Training Steps in GHL": {
      "main": [
        [
          {
            "node": "Update Recruit to Active Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Recruit to Active Onboarding": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef9747a17d41c28a81fd55f4bb3cf9f117bc62527e5ceb3a7bee14f9f6976ce"
  },
  "id": "xTvQyVDiSPxDWeG428-GI",
  "tags": []
}
